<div class="price-plans">
    <h1>Calculate Total Phone Bill</h1>
    <p class="errors" style="color: red;">{{messages.info}}</p>
</div>
<form action="/insert" method="POST">
    <div class="first-section">
        <h1 class="heading"> Price Plans </h1>

        <div class="prices">
            <div class="input-boxes">
                <h1>User Name <input name="nameEntered" type="text" id="input" class="user-input"></input>

                </h1>
                <h1>User String <input name="nameEntered" type="text" id="input" class="user-input"></input>

                </h1>
                <button class="btns" on type="submit" name="button">Calculate</button>

                <h1>Bill Total <input name="nameEntered" type="text" id="input" class="user-input"></input>
                </h1>

            </div>
            <br>
            <div class="links">
               <a href="">Price Plans</a> 
               <a href="">Users with Price Plans</a>   
            </div>
            <br>
        </div>

    </div>
    <br>
</form>
</div>
</body>