<div class="price-plans">
    <h1>Used the Price Plan </h1>
    <p class="errors" style="color: red;">{{messages.info}}</p>
</div>
<form action="/" method="POST">
    <div class="first-section">
      <div class="second-index">
     <p>Price Plan SMS: 100</p>                
     <p>{{}}</p>
     <p>{{}}</p>
     <p>{{}}</p>
      </div>
     
    </div>
    <br>

</form>
</div>
</body>